# Directorio de dependencias
node_modules/
dist/

# Archivos de configuración de Vite
.vite/

# Archivos de configuración de NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de caché del sistema operativo
.DS_Store
Thumbs.db

# Archivos de variables de entorno
# Es una buena práctica no subir tus variables de entorno al repositorio.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de caché del editor de código (por ejemplo, VS Code)
.vscode/

# Archivos de prueba (si se usa Vitest u otro)
coverage/

# Registros de npm
npm-debug.log